div.about {
    display: inline-block;
    text-align:center;
}

div.about ul li {
    list-style: none;
}

.card-column {
    padding-top: 16px;
    padding-left: 18px;
}

.card-root {
    width: 420px;
    min-height: 150px;
}

.card-title {
    font-size: 20px;
    padding-bottom: 6px;
}

.purpose-title {
    font-size: 20px;
    padding: 10px;
}